# Assignment

In [1]:
# Run the math module if it hasn't been run.
# Assign the module object to the variable named math.
import math

In [2]:
# Run the math module if it hasn't been run.
# Assign the module object to the variable named _math.
import math as _math

In [3]:
math

In [4]:
_math

In [5]:
math is _math

True

In [6]:
# Run the sys and io modules (but don't run one that has been run).
# Assign them to the sys and io variables, respectively.
import sys, io

# But it is better to just do:
import sys 
import io

In [7]:
# Run the math module if it hasn't been run.
# Assign its members sin and cos to varaibles of those names.
from math import sin, cos

In [8]:
# Run the sys and io modules (if not run already).
# Assign the sys module object to the variable _sys, and the io module object to _io.
import sys as _sys, io as _io

# But it is better to just do:
import sys as _sys
import io as _io

In [9]:
# Run the math module if it hasn't been run.
# Assign its members sin and cos to the _sin and _cos variables, respectively.
from math import sin as _sin, cos as _cos

In [10]:
# Create a function that returns its input, squared.
# Assign it to the variable called square.
def square(x):
    return x**2

In [11]:
# Assign 3 to the variable x.
x = 3

In [12]:
# Assign 5 to the variable y.
y = 5

In [13]:
# Assign the value of x to y, and the value of y to x.
x, y = y, x

In [14]:
x

5

In [15]:
y

3

In [16]:
# Assign the string 'ham' to the variables a, b, and c.
# Each variable will then refer to the same string object 'ham'.
a = 'ham'
b = a
c = b

In [17]:
a = 'eggs'

In [18]:
id(c)

2343054213872

In [19]:
id(b)

2343054213872

In [20]:
del a, b, c

In [21]:
# Assign 1-character strings -- the letters of 'ham' -- to variables a, b, and c.
a, b, c = 'ham'

In [22]:
(a, b, c)

('h', 'a', 'm')

In [23]:
# With a SINGLE statement, assign the string 'ham' to the variables a, b, and c.
# Each variable will then refer to the same string object 'ham'.
a = b = c = 'ham'

In [24]:
(a, b, c)

('ham', 'ham', 'ham')

In [25]:
[id(x) for x in (a, b, c)]

[2343054229232, 2343054229232, 2343054229232]

In [26]:
stuff = [10, (20, [30, 40], 50)]
# With an assignment statement whose right-hand side is just the variable stuff,
# assign the numbers 10, 20, 30, 40, and 50 to the variables a, b, c, d, and e.
a, (b, (c, d), e) = stuff

In [27]:
[a, b, c, d, e]

[10, 20, 30, 40, 50]

In [28]:
a = b = c = d = e = 0
# With a match statement on an expression that is just the variable stuff,
# assign 10, 20, and 30 to a, b, and c, and assign 50 to e, without
# assigning 40 to any variable. Furthermore, if the structure of stuff is
# anything other than the structure it has above, then don't perform any
# assignments, but do print a message.
match stuff:
    case [a, [b, [c, _], e]]:
        pass
    case _:
        print('structure of stuff is wrong')

In [29]:
[a, b, c, d, e]

[10, 20, 30, 0, 50]

In [30]:
stuff = 0

In [31]:
match stuff:
    case [a, [b, [c, _], e]]:
        pass
    case _:
        print('structure of stuff is wrong')

structure of stuff is wrong

In [32]:
# Assign the string 'Ow!' to a variable named len. This shadows the builtin
# function len (which is why it should never be done, except for demonstration
# purposes).
len = 'Ow!'

In [33]:
len

'Ow!'

In [34]:
len('ow!')

TypeError: 'str' object is not callable

In [35]:
# Although len in the builtin scope was shadowed by the presence of len in
# the global scope, it was not deleted. Get rid of len in the global scope,
# and show that this restores access to len in the builtin scope.
del len

In [36]:
len('ow!')

3

In [37]:
# Suppose we have a function with a local variable called len. Can deleting
# that local variable restore access to the builtin len, in that function?
# Please write a function that demonstrates whether or not it can.
def testscopes():
    len = 'Ow!'
    del len
    print(len('hello'))

testscopes()

UnboundLocalError: local variable 'len' referenced before assignment

In [38]:
# Some very important information we really don't want to lose.
hello = 'The gold is in safe deposit #9A44515 at the Hello World Bank of Switzerland or something.'

# Demonstrate why * imports are only considered reasonable for interactive testing.
from greet import *

In [39]:
hello

In [40]:
# TODO: Find out the actual semantics of _ in interactive python and in IPython/Jupyter.

In [41]:
# In a fuction (to avoid messing with the special significance of _ in interactive
# Python interpreters), show that using _ as a discard in a match statement does not
# assign to _ and does not even cause it to become a local variable.
def underfunction():
    mystuff = 10
    match mystuff:
        case _:
            print ('got here')
            print (_)
            
underfunction()

got here
<function hello at 0x000002218A992A70>

In [42]:
# In a fuction (to avoid messing with the special significance of _ in interactive
# Python interpreters), show that using _ like a discard in an assignment statement
# DOES assign to _.
def unassfunction():
    _ = 4
    x = 5
    print (x)
    print (_)
unassfunction()

5
4

In [43]:
values = [10, 20, 30, 40, 50, 60, 70]
# For each value in values, assign it to the variable x and print x.
for x in values:
    print (x)

10
20
30
40
50
60
70

In [44]:
point = (10, 20)
# Write an assignment statement with just the variable point on the right-hand
# side, which assign 10 to the variable x_coord and 20 to the variable y_coord.
x_coord, y_coord = point

In [45]:
f'{x_coord=}, {y_coord=}'

'x_coord=10, y_coord=20'

In [46]:
coords = [(10, 20), (30, 40), (50, 60), (70, 80)]
# For each coordinate pair in coords, assign the first element to x and the
# second element to y, and print them both (formatted however you like).
for x, y in coords:
    print(f'{x} on the x-axis, {y} on the y-axis.')

10 on the x-axis, 20 on the y-axis.
30 on the x-axis, 40 on the y-axis.
50 on the x-axis, 60 on the y-axis.
70 on the x-axis, 80 on the y-axis.

In [47]:
table = [['cat', 'dog', 'horse', 'bat', 'eagle'],
         ['banker', 'butcher', 'candlestick maker'],
         [10, 20, 30, 40, 50, 50, 60]]
# For each row of table, assign the first element to x and a list of all the
# other elements to xs, then print them both (formatted however you like).
for x, *xs in table:
    print(f'{x=}')
    print(f'{xs=}')

x='cat'
xs=['dog', 'horse', 'bat', 'eagle']
x='banker'
xs=['butcher', 'candlestick maker']
x=10
xs=[20, 30, 40, 50, 50, 60]

In [48]:
xs

[20, 30, 40, 50, 50, 60]

In [49]:
y, *ys = xs
(y, ys)

(20, [30, 40, 50, 50, 60])

In [50]:
ys = {'foo', *xs}
ys

{20, 30, 40, 50, 60, 'foo'}

In [51]:
table = [['cat', 'dog', 'horse', 'bat', 'eagle'],
         ['banker', 'butcher', 'candlestick maker'],
         [10, 20, 30, 40, 50, 50, 60]]
# For each row of table, assign the last element to x and a list of all the
# other elements to xs, then print them both (formatted however you like).
for *xs, x in table:
    print(f'{xs=}')
    print(f'{x=}')

xs=['cat', 'dog', 'horse', 'bat']
x='eagle'
xs=['banker', 'butcher']
x='candlestick maker'
xs=[10, 20, 30, 40, 50, 50]
x=60

In [52]:
# Write an assignment whose left-hand side is
#    *xs, x
# where xs becomes an empty list.
row = [[1],[2]] 
for *xs, x in row:
    print(f'{xs=}')
    print(f'{x=}')

xs=[]
x=1
xs=[]
x=2

In [53]:
# Write such an assignment as one-line assignment statement.
*xs, x = ['stuff']

In [54]:
xs

[]

In [55]:
x

'stuff'

In [56]:
table = [['cat', 'dog', 'horse', 'bat', 'eagle'],
         ['banker', 'butcher', 'candlestick maker'],
         [10, 20, 30, 40, 50, 50, 60]]
# For each row of table, assign the first element to first, the last element
# to last, and all the other elements to middle (so middle will be a list).
for first, *middle, last in table:
    print(f'{first=}')
    print(f'{middle=}')
    print(f'{last=}')

first='cat'
middle=['dog', 'horse', 'bat']
last='eagle'
first='banker'
middle=['butcher']
last='candlestick maker'
first=10
middle=[20, 30, 40, 50, 50]
last=60

In [57]:
# Some except clauses perform assignment. Demonstrate this.
mylist = [0, 1, 2, 3, 4]
try: 
    mylist[5]
except IndexError as ierror:
    print(ierror)

list index out of range

In [58]:
# Variables assigned outside of functions and comprehensions are global,
# and in JupyterLab global variables are accessible across cells, since
# code in different cells is all in the same scope. You've seen this, and
# here's another example:
something = 'wow!'

In [59]:
something

'wow!'

In [60]:
# But what about ierror? It was assigned by the except clause.
# Is it still accessible?
ierror

NameError: name 'ierror' is not defined

In [61]:
# The variable was in the same scope. But this is a special case. The
# variable to which except assigns the exception object is deleted (as
# if with del) as control exits the end of the except block.

# The reason for this special behavior is that exception objects contain
# references to data structures useful for debugging... and through
# which most other variables and state can be accessed. That keeps
# numerous objects from being garbage collected. Deleting the variable
# lets the exception object be garbage collected (unless it has been
# assigned elsewhere), which prevents what would otherwise be huge
# memory leaks in most Python programs.

In [62]:
# Show that, if the variable existed before, and is assigned to by
# except, then after the except clause, it is still deleted, and *not*
# restored to its former value.
ierror = "former value" 
mylist = [0, 1, 2, 3, 4]
try: 
    mylist[5]
except IndexError as ierror:
    print(ierror)
print(ierror)

list index out of range

NameError: name 'ierror' is not defined

In [63]:
# Write code that preserves access to the exception object even after
# control has left the except clause. (This is occasionally useful.)
ierror = "former value" 
mylist = [0, 1, 2, 3, 4]
try: 
    mylist[5]
except IndexError as ierror:
    print(ierror)
    preserver = ierror
print(preserver)

list index out of range
list index out of range

In [64]:
import os
os.getcwd()

'C:\\Users\\ek\\source\\repos\\algoviz\\basics'

In [65]:
# The "with" statement is a form of assignment, when an "as" clause
# is present. Open names.txt as a file and read a line from it.
with open('names.txt', encoding='utf-8') as file:
    firstline = file.readline()    
    print(firstline)

Eliah

In [66]:
# Control has left the with block. Does the file variable still exist?
secondline = file.readline()

ValueError: I/O operation on closed file.

In [67]:
# Open names.txt as a file and read a line from it. Use try-finally
# instead of a "with" statement.
file = open('names.txt', encoding='utf-8')
try: 
    firstline = file.readline()
    print(firstline)
finally: 
    file.close()

Eliah

In [68]:
secondline = file.readline()

ValueError: I/O operation on closed file.

In [69]:
# A "with" statement, with "as", assigns an object to a variable that usually
# makes sense to use within the body of the "with" statement, and that may or
# may not make sense to use afterwards. However, unlike "as" in an "except"
# clause, there is no special variable-deletion behavior associated with "as"
# in a "with" statement.

In [70]:
# Part of the semantics of function calls is that the objects passed as actual
# arguments to the function are assigned to the function's formal parameters,
# and those formal parameters are local variables of the function as it executes.
# Define a function with one or more parameters that accesses its parameter(s)
# and prints their values. Then run code that shows that these values have not
# been assigned to variables of the same names in the global scope.
uncubed = 0
def cube(uncubed):
    print(f'{uncubed=}')
    return uncubed**3
cube(5)
print(f'{uncubed=}')

uncubed=5
uncubed=0

In [71]:
# When a function has a formal parameter that appears in the paramaeter list
# with a leading *, like *args, this accepts zero or more actual arguments.
# Those arguments are collected togeter into a tuple. This is conceptually
# very similar to assigning to starred targets with assignment statements
# and with the match statement. But with assignment statements and the match
# statement, a list is created, not a tuple. Demonstrate this difference.
stuff = (9, 8, 7, 6, 5, 4)
*liststuff, last = stuff
print(liststuff)
def tupstuff(*inputstuff):
    print(inputstuff)
tupstuff(9, 8, 7, 6)
match stuff:
    case *things, lastthing:
        print(things)
    case _:
        print("should be more than one thing")

[9, 8, 7, 6, 5]
(9, 8, 7, 6)
[9, 8, 7, 6, 5]

In [72]:
def f(*args):
    mystery(args)
    return g(*args)

def g(*args):
    mystery(args)
    return h(*args)

def h(*args):
    mystery(args)
    return sum(args)

def mystery(args):
    print(args)

f(10, 5, 1)

(10, 5, 1)
(10, 5, 1)
(10, 5, 1)

16

In [73]:
labels = ['x', 'y', 'z']
values = [10.2, 5.3, 7.0]

In [74]:
# This is OK, but can it be made more Pythonic? Does that improve it?
#
# There are three main ways to express this. One is with indexing, as
# shown. Of the other two, one uses only builtins, while the other uses
# something you've seen before from the itertools module. Do both.
# Which of the three ways (this, and those) do you prefer in this case?
#
# Feel free to assume len(labels) == len(values). Don't assume it's 3.
for i in range(len(labels)):
    print(f'Coordinate {i}, the {labels[i]}-coordinate, is {values[i]:4}.')

Coordinate 0, the x-coordinate, is 10.2.
Coordinate 1, the y-coordinate, is  5.3.
Coordinate 2, the z-coordinate, is  7.0.

In [75]:
for (index, label), value in zip(enumerate(labels), values):
    print(f'Coordinate {index}, the {label}-coordinate, is {value:4}.')

Coordinate 0, the x-coordinate, is 10.2.
Coordinate 1, the y-coordinate, is  5.3.
Coordinate 2, the z-coordinate, is  7.0.

In [76]:
for label, (index, value) in zip(labels, enumerate(values)):
    print(f'Coordinate {index}, the {label}-coordinate, is {value:4}.')

Coordinate 0, the x-coordinate, is 10.2.
Coordinate 1, the y-coordinate, is  5.3.
Coordinate 2, the z-coordinate, is  7.0.

In [77]:
for index, (label, value) in enumerate(zip(labels, values)):
    print(f'Coordinate {index}, the {label}-coordinate, is {value:4}.')

Coordinate 0, the x-coordinate, is 10.2.
Coordinate 1, the y-coordinate, is  5.3.
Coordinate 2, the z-coordinate, is  7.0.

In [78]:
import itertools

In [79]:
dir(itertools)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_grouper',
 '_tee',
 '_tee_dataobject',
 'accumulate',
 'chain',
 'combinations',
 'combinations_with_replacement',
 'compress',
 'count',
 'cycle',
 'dropwhile',
 'filterfalse',
 'groupby',
 'islice',
 'pairwise',
 'permutations',
 'product',
 'repeat',
 'starmap',
 'takewhile',
 'tee',
 'zip_longest']

In [80]:
help(itertools.count)

Help on class count in module itertools:

class count(builtins.object)
 |  count(start=0, step=1)
 |
 |  Return a count object whose .__next__() method returns consecutive values.
 |
 |  Equivalent to:
 |      def count(firstval=0, step=1):
 |          x = firstval
 |          while 1:
 |              yield x
 |              x += step
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [81]:
for index, label, value in zip(itertools.count(), labels, values):
    print(f'Coordinate {index}, the {label}-coordinate, is {value:4}.')

Coordinate 0, the x-coordinate, is 10.2.
Coordinate 1, the y-coordinate, is  5.3.
Coordinate 2, the z-coordinate, is  7.0.

In [82]:
# Bobcats the The Shipper sent by common carrier until he was finally
# taken out by Marine Force Recon snipers.
names = ['Bob', 'Kat', 'Robert', 'Catherine', 'Boberto', 'Ekaterina', 'Leo']
sizes = ['smallish', 'regular-sized', 'big', 'scarily large', 'truly huge',
         'shrouded in mystery', 'actually a leopard']
victims = ['John Smith', 'Joe Smith', 'Alice Smith', 'J. Jonah Jameson',
           'two fishmongers', 'Delaware legislators', 'Bozo the Clown']
orders = ['gaming mouse', 'mechanical keyboard', 'box of oranges',
          'gallon of ink', 'full-stack developer', 'Westlaw subscription',
          'pallet of noses']

In [83]:
# Do this one both other ways, too. Is there a way you prefer?
#
# Feel free to assume that:
#
#    len(names) == len(sizes) == len(victims) == len(orders)
#
# But don't assume this length is 7.
#
# (The f-string here is split into two lines for readability. In your
# solution, feel free to keep it split, or to have it all on one line.)
for i in range(len(names)):
    print(f'Bobcat #{i + 1}, {names[i]}, who is {sizes[i]}, '
          f'went to {victims[i]}, who wanted a {orders[i]}.')

Bobcat #1, Bob, who is smallish, went to John Smith, who wanted a gaming mouse.
Bobcat #2, Kat, who is regular-sized, went to Joe Smith, who wanted a mechanical keyboard.
Bobcat #3, Robert, who is big, went to Alice Smith, who wanted a box of oranges.
Bobcat #4, Catherine, who is scarily large, went to J. Jonah Jameson, who wanted a gallon of ink.
Bobcat #5, Boberto, who is truly huge, went to two fishmongers, who wanted a full-stack developer.
Bobcat #6, Ekaterina, who is shrouded in mystery, went to Delaware legislators, who wanted a Westlaw subscription.
Bobcat #7, Leo, who is actually a leopard, went to Bozo the Clown, who wanted a pallet of noses.

In [84]:
for index, name, size, victim, order in zip(itertools.count(1), names, sizes, victims, orders):
    print(f'Bobcat #{index}, {name}, who is {size}, '
          f'went to {victim}, who wanted a {order}.')

Bobcat #1, Bob, who is smallish, went to John Smith, who wanted a gaming mouse.
Bobcat #2, Kat, who is regular-sized, went to Joe Smith, who wanted a mechanical keyboard.
Bobcat #3, Robert, who is big, went to Alice Smith, who wanted a box of oranges.
Bobcat #4, Catherine, who is scarily large, went to J. Jonah Jameson, who wanted a gallon of ink.
Bobcat #5, Boberto, who is truly huge, went to two fishmongers, who wanted a full-stack developer.
Bobcat #6, Ekaterina, who is shrouded in mystery, went to Delaware legislators, who wanted a Westlaw subscription.
Bobcat #7, Leo, who is actually a leopard, went to Bozo the Clown, who wanted a pallet of noses.

In [85]:
for index, (name, size, victim, order) in enumerate(zip(names, sizes, victims, orders), 1):
    print(f'Bobcat #{index}, {name}, who is {size}, '
          f'went to {victim}, who wanted a {order}.')

Bobcat #1, Bob, who is smallish, went to John Smith, who wanted a gaming mouse.
Bobcat #2, Kat, who is regular-sized, went to Joe Smith, who wanted a mechanical keyboard.
Bobcat #3, Robert, who is big, went to Alice Smith, who wanted a box of oranges.
Bobcat #4, Catherine, who is scarily large, went to J. Jonah Jameson, who wanted a gallon of ink.
Bobcat #5, Boberto, who is truly huge, went to two fishmongers, who wanted a full-stack developer.
Bobcat #6, Ekaterina, who is shrouded in mystery, went to Delaware legislators, who wanted a Westlaw subscription.
Bobcat #7, Leo, who is actually a leopard, went to Bozo the Clown, who wanted a pallet of noses.

In [86]:
# All of the assignment we've done in this notebook so far has caused one or more names
# to refer to some object. But assignment with = (that is, assignment statements) are
# more versatile than that. Show an example of an an assignment statement that could be
# useful in practice, but definitely does not cause any variable to come into existence
# or to refer to a different object from what it referred to before.
c = [3, 4, 5, 6, 7]
c[2] = 10

In [87]:
c[0:4] = [0, 1, 2, 3, 4]

In [88]:
c

[0, 1, 2, 3, 4, 7]

In [89]:
# Try assigning to a slice whose step is not 1.
c[::2] = [-1, -1, -1]

In [90]:
c

[-1, 1, -1, 3, -1, 7]

In [91]:
# Try replacing *all* the elements of a list by assigning to a slice.
c[:] = [0, 1, 2, 3, 4, 5]

In [92]:
c

[0, 1, 2, 3, 4, 5]

In [93]:
# Write code that demonstrates the difference between c[:] = ... and c = ...
id(c)

2343082336128

In [94]:
d = c

In [95]:
 c[:] = [5, 4, 3, 2, 1, 0]

In [96]:
d is c

True

In [97]:
c = [0, 1, 2, 3, 4, 5]

In [98]:
d is c

False

In [99]:
# You can clear a list (remove all is elements) by assigning an empty
# iterable to a slice of the whole thing. But a better way is to call
# the clear method. Demonstrate both ways.
d

[5, 4, 3, 2, 1, 0]

In [100]:
d.clear()

In [101]:
d

[]

In [102]:
c

[0, 1, 2, 3, 4, 5]

In [103]:
c[:] = ()

In [104]:
c

[]

In [105]:
# To reverse a list in place, you should call its reverse method. But
# as an exercise, reverse a list by assigning to a slice of it. After
# showing that this reversed it, use the reverse method to reverse it
# back to the way it was before.
a = [1, 2, 3, 4, 5, 6]

In [106]:
a[:] = a[::-1]

In [107]:
a

[6, 5, 4, 3, 2, 1]

In [108]:
a.reverse()

In [109]:
a

[1, 2, 3, 4, 5, 6]

In [110]:
# Now, reverse the list in place again by assigning to a slice of it,
# but this time, make the right-hand side simply be a.
a[::-1] = a

In [111]:
a

[6, 5, 4, 3, 2, 1]

In [112]:
# Now, reverse it back by assigning to a slice of it, but on the left-hand
# side, don't use a negative step, and on the right-hand side, still don't
# use any slicing (and make sure the code would work for any list a).
a[:] = reversed(a)

In [113]:
a

[1, 2, 3, 4, 5, 6]

In [114]:
# You can assign a different number of elements to a slice than the length
# of the slice, and you can assign the same number of elements to a slice
# whose step is not 1 as the length of that slice. What happens when you
# try to assign a different number of elements to a slice whose step is not
# 1 than the length of that slice?
a[0:100:2] = [10, 10, 10, 10, 10]

ValueError: attempt to assign sequence of size 5 to extended slice of size 3

In [115]:
a[0:10:2] = [10, 10]

ValueError: attempt to assign sequence of size 2 to extended slice of size 3

In [116]:
a

[1, 2, 3, 4, 5, 6]

In [117]:
len(a)

6

In [118]:
a[1000:]  # This slice is empty. (Empty sublist at the end.)

[]

In [119]:
a[1000:] = [10, 20]

In [120]:
a

[1, 2, 3, 4, 5, 6, 10, 20]

In [121]:
# So the question is, when you use += on a sequence, what does it do?
# Does it assign something new to a variable? Does it modify the object?

In [122]:
t2 = t1 = (0, 1, 2)

In [123]:
t1 += (3,)

In [124]:
t2 is t1

False

In [125]:
t1

(0, 1, 2, 3)

In [126]:
t2

(0, 1, 2)

In [127]:
l2 = l1 = [0, 1, 2, 3, 4]

In [128]:
l1 += [5]

In [129]:
l1

[0, 1, 2, 3, 4, 5]

In [130]:
l2 is l1

True

In [131]:
l2

[0, 1, 2, 3, 4, 5]

In [132]:
# Try using += on a tuple that is an element of a list.

In [133]:
lt = [(0, 1, 2), (3, 2, 1), (1, 2, 3)]

In [134]:
lt[1] += (0,)

In [135]:
lt

[(0, 1, 2), (3, 2, 1, 0), (1, 2, 3)]

In [136]:
# Try using += on a list that is an element of a list.
ll = [[0, 1, 2], [2, 1], [1, 2, 3]]

In [137]:
ll[1] += [0]

In [138]:
ll

[[0, 1, 2], [2, 1, 0], [1, 2, 3]]

In [139]:
# Try using += on a tuple that is an element of a tuple.
tt = ((0, 1, 2), (2, 1),(1, 2, 3))

In [140]:
tt[1] += (0,)

TypeError: 'tuple' object does not support item assignment

In [141]:
vals = ([10, 20],)

In [142]:
vals

([10, 20],)

In [143]:
vals[0].append(30)

In [144]:
vals

([10, 20, 30],)

In [145]:
# Try using += on a list that is an element of a tuple.
tl = ([0, 1, 2], [2, 1], [1, 2, 3])

In [146]:
tl[1] += [0]

TypeError: 'tuple' object does not support item assignment

In [147]:
tl

([0, 1, 2], [2, 1, 0], [1, 2, 3])

In [148]:
# I recommend that, where applicable, you prefer extend to +=

In [149]:
# Note that, even on immutable sequences, += is misleading, in that it is not efficient.
#
# You should not use += on immutable sequences (e.g., tuples, strings) very often,
# because of all the copying it does. In particular, you should almost always avoid
# doing this in a loop (unless the maximum number of iterations is small).
a = (10, 20, 30, 40, 50, 60, 70)
a += (80, 90)  # Copies 7 elements from the old a.
a += (100, 110)  # Copies 9 elements from the old a.
a += (120, 130)  # Copies 11 elements from the old a.
a

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130)

In [150]:
# This performed the same operations as:
a = (10, 20, 30, 40, 50, 60, 70)
a = a + (80, 90)
a = a + (100, 110)
a = a + (120, 130)
a

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130)

In [151]:
# With lists, this is efficient, but you can express it more clearly with extend.
b = [10, 20, 30, 40, 50, 60, 70]
b += [80, 90]
b += [100, 110]
b += [120, 130]
b

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

In [152]:
# That was more efficient than, and *not* the same as:
b = [10, 20, 30, 40, 50, 60, 70]
b = b + [80, 90]
b = b + [100, 110]
b = b + [120, 130]
b

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

In [153]:
# Because that (above) actually made copies each time, whereas with +=, it has
# the same effect as:
b = [10, 20, 30, 40, 50, 60, 70]
b.extend([80, 90])
b.extend([100, 110])
b.extend([120, 130])
b

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

In [154]:
# But using extend has the benefit of making clear exactly what operation is
# being performed. Furthermore, using extend avoids the problem where it looks
# like no change was made because an exception is raised after the change is
# made, as happens when the list being extended as a member of a tuple.

In [155]:
# Suppose we have a jagged table, but we know how many rows it will have, and
# we don't ever want to add or remove rows, or reorder the rows, or replace
# a row with an new list:
table = tuple([] for _ in range(10))
table

([], [], [], [], [], [], [], [], [], [])

In [156]:
table[3].append('foo')
table

([], [], [], ['foo'], [], [], [], [], [], [])

In [157]:
# This raises an exception, but the row is still extended!
table[3] += ['bar', 'baz']
table

TypeError: 'tuple' object does not support item assignment

In [158]:
table

([], [], [], ['foo', 'bar', 'baz'], [], [], [], [], [], [])

In [159]:
# Using the extend method performs the same operation, but fully succeeds
# (no misleading exception is raised).
table[5].append('ham')
table

([], [], [], ['foo', 'bar', 'baz'], [], ['ham'], [], [], [], [])

In [160]:
table[5].extend(['spam', 'eggs'])
table

([],
 [],
 [],
 ['foo', 'bar', 'baz'],
 [],
 ['ham', 'spam', 'eggs'],
 [],
 [],
 [],
 [])

In [161]:
# Suppose we have a list of ints somewhere.
_implementation_detail = [10, 20, 30, 40, 50, 60, 70]

# We may change how we store it. So we access it with a function.
def f():
    print('Loading up our list of ints.')
    return _implementation_detail

In [162]:
# Consider the difference between two ways of increasing an element of the list.
# Here, I use +=, causing (sub)expressions on the left side to be evaluated just once.
f()[3] += 1

Loading up our list of ints.

In [163]:
_implementation_detail

[10, 20, 30, 41, 50, 60, 70]

In [164]:
# In contrast, here I use +, causing (sub)expressiosn on the left side to be evaluated twice.
f()[3] = f()[3] + 1

Loading up our list of ints.
Loading up our list of ints.

In [165]:
_implementation_detail

[10, 20, 30, 42, 50, 60, 70]

In [166]:
# That is the usual, expected difference in meaning between using += and
# using = and + separately. The key point is that this performance difference
# is **completely unrelated** to the performance difference between using +=
# and using = and + separately, on mutable sequences, such as lists.

When an assignment statement assigns the same object to multiple targets, what order are the
assignments done in?

For example, does the following statement assign

- to `p`, then `q`, then `r`, then `s`?
- to `s`, then `r`, then `q`, then `p`?
- in some other order?

In [167]:
p = q = r = s = 42

To find out, and to demonstrate this behavior, write at least three separate fragments of code, each of whose behavior depends on the order in which such assignments are performed. Each fragment of code should take advantage of a different language or standard library feature, or at least a different combination of features; that is, each should give some further insight into how *something* works in Python, even if one has already read the others.

Assignment pretty much always has side effects (that's the point), but how can you achieve *different* side effects depending on the order in which assignments are done?

All the ways you do it should preferably be clear and easy to reason about. Do it in at least two ways that involve making a class, and in at least one way that does not.

Although the order is guaranteed, code that relies on it may be confusing, unclear in its intent, and even bug-prone. When might it be reasonable to write code that deliberately relies on this order? Other than for demonstration purposes (or as an exercise), is this ever reasonable?

Note: The code in the cell above is just an example of a single assignment statement that is guaranteed to assign the same object to multiple targets. In particular, I wanted to make clear that I am talking about the `p = q = r = s = ...` form of assignment, and not the `p, q, r, s = ...` form. You do not need to demonstrate the order with that specific assignment statement (and I somewhat recommend against that). But this is about the form of assignment that assigns to multiple targets using multiple `=` signs, so whatever assignment statements you do write in your demonstration code should take that form, with at least two `=` signs.